# Ignore Kiro development specifications
.kiro/

# Ignore GitHub folder
.github/

# Ignore test artifacts and temporary files
tests/
*.log
*.tmp
*.temp

# Ignore backup files
*.bak
*.backup
NetworkOptimizer_backup_*.ps1
NetworkOptimizer_verbose.ps1

# Ignore Windows system files
Thumbs.db
Desktop.ini
